* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;;
}

/* flex */
.flex {
    display: flex;
    flex-flow: row wrap;
}

.top {
    align-items: flex-start;
}
.middle {
    align-items: center;
}
.bottom {
    align-items: flex-end;
}
.left {
    justify-content: flex-start;
}   
.center {
    justify-content: center;
}
.right {
    justify-content: flex-end;
}
.around {
    justify-content: space-around;
}
.evenly {
    justify-content: space-evenly;
}
.between {
    justify-content: space-between;
}

/* colors */
.midnight-green {
    color: #014e56;
}
.light-coral {
    color: #f67e7e;
}
.white {
    color: #fff;
}
.r-blue {
    color: #79c8c7;
}
.p-blue {
    color: #2c6269;
}
.d-green {
    color: #004047;
}
.ss-green {
    color: #012f34;
}
.dark-green {
    color: #002529;
}

/* Texts */
h1.large {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
}
h1.small {
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
}
h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}
h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 15px;
}
.font-1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}
.font-2 {
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}
.font-3 {
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    line-height: 18px;
}

a {
    text-decoration: none;
}

/* Buttons */
.btn-light {
    color: #fff;
    text-decoration: none;
    padding: 10px 35px;
    border: 2px solid #fff;
    border-radius: 24px;
    margin-bottom: 3px;
}
.btn-light:hover {
    color: #012f34;
    background: #fff;
}
.btn-dark {
    color: #012f34;
    text-decoration: none;
    padding: 10px 35px;
    border: 2px solid #012f34;
    border-radius: 24px;
    margin-bottom: 3px;
}
.btn-dark:hover {
    color: #fff;
    background: #012f34;
}

/* hover & active */
a {
    transition: all .2s;
}
a:hover {
    color: #f67e7e;
}

#footer-icons .bx:hover {
    color: #f67e7e;
}

/* Media */

.container {
    width: 80%;
    margin: 0 auto;
}

.col-xl-1 {
    width: 8.333333333%;
}
.col-xl-2 {
    width: 16.666666666%;
}
.col-xl-3 {
    width: 25%;
}
.col-xl-4 {
    width: 33.333333333%;
}
.col-xl-5 {
    width: 41.666666666%;
}
.col-xl-6 {
    width: 50%;
}
.col-xl-7 {
    width: 58.333333333%;
}
.col-xl-8 {
    width: 66.666666666%;
}
.col-xl-9 {
    width: 75%;
}
.col-xl-10 {
    width: 83.333333333%;
}
.col-xl-11 {
    width: 91.666666666%;
}
.col-xl-12 {
    width: 100%;
}

@media only screen and (max-width:960px) {
    .container {
        width: 80%;
    }
    
    .col-lg-1 {
        width: 8.333333333%;
    }
    .col-lg-2 {
        width: 16.666666666%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.333333333%;
    }
    .col-lg-5 {
        width: 41.666666666%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.333333333%;
    }
    .col-lg-8 {
        width: 66.666666666%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.333333333%;
    }
    .col-lg-11 {
        width: 91.666666666%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

@media only screen and (max-width:720px) {
    .container {
        width: 90%;
    }
    
    .col-md-1 {
        width: 8.333333333%;
    }
    .col-md-2 {
        width: 16.666666666%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.333333333%;
    }
    .col-md-5 {
        width: 41.666666666%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.333333333%;
    }
    .col-md-8 {
        width: 66.666666666%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.333333333%;
    }
    .col-md-11 {
        width: 91.666666666%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media only screen and (max-width:605px) {
    .container {
        width: 90%;
    }

    .col-sm-1 {
        width: 8.333333333%;
    }
    .col-sm-2 {
        width: 16.666666666%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.333333333%;
    }
    .col-sm-5 {
        width: 41.666666666%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.333333333%;
    }
    .col-sm-8 {
        width: 66.666666666%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.333333333%;
    }
    .col-sm-11 {
        width: 91.666666666%;
    }
    .col-sm-12 {
        width: 100%;
    }
}